.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #414655;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;

  .checkboxTask {
    margin-left: 2%;
  }

  .titleTask {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
  }

  .removeTask {
    padding: .2rem .5rem;
    border: none;
    border-radius: 1rem;
    background-color: #b66060;
    color: #cecece;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }
}